.brd-forms {
    border: solid 1px $gray-border-form !important;
}

.brd-form-style {
    border-radius: 5px !important;
    border-color: $gray-border-form !important;
}

.brd-bottom-table {
    border-bottom: 2px solid $gray-border-form;
}